<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
  </head>
  <body>
    <h1><%=title%></h1>
    <form action="/subject/add" method="post">
      <input type="input" name="subject_name" placeholder="subject_name">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
